.footer {
    background-color: #004d66; /* Темно-синий цвет фона */
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    margin-bottom: 20px;
    max-width: 300px;
  }
  
  .footer-section h3 {
    color: #80deea;
    margin-bottom: 15px;
  }
  
  .footer-section p,
  .footer-section a {
    color: #e0f7fa;
    line-height: 1.6;
    text-decoration: none;
  }
  
  .footer-social {
    margin-top: 20px;
  }
  
  .footer-copyright {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #4dd0e1;
  }